* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    
}
:root{
    --Color-1:#FF7B29;
    --Typography-1:#2D3134;
    --Typography-2:#676A6C;
    --Color-2:#31C3E0;
    --Stock:#ECECEC;
    --White:#FFF;
}
/* common */
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.9;
}

.btn{
    display: inline-block;
    min-width: 131px;
    border-radius: 12px;
    background: var(--Color-1, #FF7B29);
    box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.18px;
    line-height: 66px;
    padding: 0 16px;
}
h1{
    color: var(--Color-1, #FF7B29);
    text-align: center;
    font-size: 136px;
    font-weight: 700;
    line-height: 150px; /* 110.294% */
    margin-top: 140px;
}
h2{
    color: var(--Typography-1, #2D3134);
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 112.903% */
}
/* Desktop */
@media screen and (min-width:768px)  {
    .header-content{
        padding: 32px;
        width: 100vw;
        height: 590px;
        background-image: url("./assets/img/about/bgr-about.png") ; 
        background-repeat: no-repeat;
        background-size: cover;
    }
    .navbar{
        width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        
        
    }
    .navbar__logo{
        display: flex;
        align-items: center;
    }
    .navbar__logo--circle {
        color: #FFF;
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 36px;
        height: 36px;
        background: #FF7B29;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .navbar__logo--text{
        color: #212832;
        font-family: Inter;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 8px;
    }
    .navigation {
        margin-left: 216px;

    }
    .navigation ul{
        display: flex;
    }
    .navigation ul li{
        margin: 0 17px ;
    }
    .navigation ul li a{
        color: var(--Typography-2, #676A6C);
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.14; /* 114.286% */
    }
  
    .navigation__foot::after{
        position: absolute;
        content: "";
        display: block;
        width: 12px;
        height: 2px;
        border-radius: 1px;
        background: #FF7B29;
    }
    .action{
        margin-left: auto;
    }
    .action__btn{
        width: 131px;
        border-radius: 8px;
        background: var(--Color-2, #31C3E0);
        font-size: 1.4rem;
        font-weight: 500;
        line-height:48px; /* 114.286% */
    }
    /* main-1 */
    .main1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 628px;
    }
    .main1left{
        background: var(--Stock, #ECECEC);
    }
    .leftline{
        display: flex;
        align-items: center;
    }
    .textleft{
        color: var(--Typography-1, #2D3134);
        font-size: 2rem;
        font-weight: 400;
        line-height: 30px; /* 150% */
        margin-left: 20px;
    }
    .leftline+.leftline{
        margin-top: 30px;
    }
    .leftinfo{
        width: 438px;
        height: 150px;
        margin:239px auto;
    }
    .fame9{
        width: 485px;
        height: 468px;
        margin: 80px auto;
    }
    .fame-item{
        width: 485px;
        height: 66px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 1px solid var(--Stock, #ECECEC);
        background: var(--White, #FFF);
    }
    .fame-item+.fame-item{
        margin-top: 20px;
    }
    .fame-name{
        color: var(--Typography-2, #676A6C);
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        margin: 20px auto 20px 20px;
    }
    .fame-btn{
        color: #FFF;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        width: 191px;
        line-height: 66px;
        border-radius: 12px;
        margin-top: 30px;
    }
    .main2{
        width: 100vw;
        height: 510px;
        background-image: url("./assets/img/pages/1.png");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    /* footer */
    .footer-content{
        margin-left: auto;
        margin-right: auto;
        width: 1170px;
        height: 317px;
        display: grid;
        grid-template-columns:317px 337px 316px 200px ;
        grid-template-rows: 191px;
        margin-top: 140px;
    }
    .foot11{
        color: #020000;
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 100% */
    }
    .foot12,.foot13,.foot14,.foot15{
        color: #676A6C;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px; /* 316.667% */
    }
    .foot12{
        margin-top: 35px;
    }
    .foot42{
        color: #676A6C;
        font-family: Inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 185.714% */
        width: 200px;
        margin-top: 22px;
    }
    .foot43{
        margin-top: 39px;
        color: #31C3E0;
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 100% */
    }
    .foot-line{
        width: 1170px;
        height: 1px;
        background: rgba(210, 208, 192, 0.21);
        margin-top: 40px;
    }

    .footend .maincontent{
        margin-top: -46px;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .footnav{
        display: flex;
        margin-left: 233px;
    }
    .footnav li+li{
        margin-left: 34px;
    }
    .footnav li  a{
        color: #6A6F77;
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 114.286% */
    }
    .fotnav{
        color: #2D3134;
    }
    .social{
        margin-left: auto;
    }
    .footend__logo--circle{
        font-size: 1.6rem;
    }
    .maincontent{
        width: 1170px;
        margin: 0 auto;
    }
}