* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    
}
:root{
    --Color-1:#FF7B29;
    --Typography-1:#2D3134;
    --Typography-2:#676A6C;
    --Color-2:#31C3E0;
    --Stock:#ECECEC;
    --White:#FFF;
}
/* common */
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.9;
}

.btn{
    display: inline-block;
    min-width: 131px;
    border-radius: 12px;
    background: var(--Color-1, #FF7B29);
    box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.18px;
    line-height: 66px;
    padding: 0 16px;
}
@media screen and (min-width:576px)  {

    h1{
        color: var(--Typography-1, #2D3134);
        text-align: center;

        /* H1 */
        font-family: Poppins;
        font-size: 6.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 70px; /* 112.903% */
    }
    h2{
        color: var(--Color-1, #FF7B29);
        font-family: Inter;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 133.333% */
    }
    /* Desktop */
    
        /* header */
        .header-content{
            padding: 32px;
            width: 1170px;
            margin: 0 auto;
        }
        .navbar{
            width: 1170px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            
            
        }
        .navbar__logo{
            display: flex;
            align-items: center;
        }
        .navbar__logo--circle {
            color: #FFF;
            font-family: Inter;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 36px;
            height: 36px;
            background: #FF7B29;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .navbar__logo--text{
            color: #212832;
            font-family: Inter;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-left: 8px;
        }
        .navigation {
            margin-left: 216px;

        }
        .navigation ul{
            display: flex;
        }
        .navigation ul li{
            margin: 0 17px ;
        }
        .navigation ul li a{
            color: var(--Typography-2, #676A6C);
            font-family: Poppins;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.14; /* 114.286% */
        }
    
        .navigation__foot::after{
            position: absolute;
            content: "";
            display: block;
            width: 12px;
            height: 2px;
            border-radius: 1px;
            background: #FF7B29;
        }
        .action{
            margin-left: auto;
        }
        .action__btn{
            width: 131px;
            border-radius: 8px;
            background: var(--Color-2, #31C3E0);
            font-size: 1.4rem;
            font-weight: 500;
            line-height:48px; /* 114.286% */
        }
        .main-1{
            margin: 0 auto;
            margin-top: 106px;
            width: 1170px;
        }
        .main-1__content{
            display: grid;
            grid-template-columns: 626px 488px;
            grid-template-rows: 540px;
            column-gap: 56px;
        }
        .main-content-leftimg{
            width: 626px;
            height: 416px;
            border-radius: 10px;
            background: url(<path-to-image>), lightgray 0px -25.886px / 100% 112.686% no-repeat;
        }
        .main-1left-tiltle{
            width: 574px;
            margin-top: 24px;
        }
        .main-content-right{
            border-radius: 10px;
            background: var(--Stock, #ECECEC);
        }
        .searchbar{
            margin:30px 30px 0 ;
            display: flex;
            align-items: center;
        }
        .search-text{
            width: 291px;
            height: 54px;
            border-radius: 8px;
            border: 1px solid var(--Stock, #ECECEC);
            background: var(--White, #FFF);
        }
        .search-blog-text{
            color: var(--Typography-2, #676A6C);

            /* P1 */
            font-family: Inter;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 162.5% */
            margin-top: 14px;
            margin-left: 20px;
        }
        .searchblog-btn{
            width: 117px;
            line-height: 54px;
            border-radius: 8px;
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 600;
            margin-left: 20px;
        }
        .recentblog{
            color: var(--Typography-1, #2D3134);
            font-family: Inter;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: 32px; /* 133.333% */
            margin-top: 40px;
            margin-left: 30px;
        }
        .gridrecent{
            display: grid;
            grid-template-columns: 100px 308px;
            grid-template-rows: repeat(3,90px);
            gap: 20px;
            margin-left: 30px;
            margin-top: 30px;
        }
        .gridrecent-desc{
            color: var(--Typography-1, #2D3134);
            font-size: 2rem;
            font-weight: 500;
            line-height: 30px; /* 150% */
            width: 308px;
        }
        .main-2{
            width: 1170px;
            margin: 30px auto 0;
            display: grid;
            grid-template-columns: 626px 1fr;
            column-gap: 56px;
        }
        .h2main2{
            margin-top: 30px;
        }
        .main2-desc{
            margin-top: 30px;
            color: var(--Typography-2, #676A6C);
            font-family: Inter;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 162.5% */
        }
        .main21{
            margin-top: 30px;
        }
        .div{
            display: grid;
            grid-template-columns: repeat(2,300px);
            grid-template-rows: repeat(2,199px);
            gap: 26px;
        }
        /* footer */
        .footer-content{
            margin-left: auto;
            margin-right: auto;
            width: 1170px;
            height: 317px;
            display: grid;
            grid-template-columns:317px 337px 316px 200px ;
            grid-template-rows: 191px;
            margin-top: 140px;
        }
        .foot11{
            color: #020000;
            font-family: Inter;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 600;
            line-height: 16px; /* 100% */
        }
        .foot12,.foot13,.foot14,.foot15{
            color: #676A6C;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 38px; /* 316.667% */
        }
        .foot12{
            margin-top: 35px;
        }
        .foot42{
            color: #676A6C;
            font-family: Inter;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 185.714% */
            width: 200px;
            margin-top: 22px;
        }
        .foot43{
            margin-top: 39px;
            color: #31C3E0;
            font-family: Inter;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 700;
            line-height: 16px; /* 100% */
        }
        .foot-line{
            width: 1170px;
            height: 1px;
            background: rgba(210, 208, 192, 0.21);
            margin-top: 40px;
        }

        .footend .maincontent{
            width: 1170px;
            margin: 0 auto;
            margin-top: -46px;
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }
        .footnav{
            display: flex;
            margin-left: 233px;
        }
        .footnav li+li{
            margin-left: 34px;
        }
        .footnav li  a{
            color: #6A6F77;
            font-family: Poppins;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 16px; /* 114.286% */
        }
        .fotnav{
            color: #2D3134;
        }
        .social{
            margin-left: auto;
        }
        .footend__logo--circle{
            font-size: 1.6rem;
        }
    .bagach{
        display: none;
    }
    .headermobile{
        display: none;
    }
}
@media screen and (min-width:375px) and (max-width:575.98px){
    
    .btn{
        display: inline-block;
        min-width: 131px;
        border-radius: 12px;
        background: var(--Color-1, #FF7B29);
        box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
        color: #FFF;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 0.18px;
        line-height: 66px;
        padding: 0 16px;
    }
    h1{
        color: var(--Color-1, #FF7B29);
        text-align: center;
        margin-top: 47px;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; /* 125% */
    }
    h2{
        color: var(--Typography-1, #2D3134);

        /* H4 */
        font-family: Inter;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        margin-top: 14px;
    }
    
    .navbar{
        display: flex;
        align-items: center;
        justify-items: center;
    }
    .navbar__logo{
        margin-left: 20px;
        margin-top: 18px;
        display: flex;
        align-items: center;
    }
    .navbar__logo--circle {
        color: #FFF;
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 36px;
        height: 36px;
        background: #FF7B29;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .navbar__logo--text{
        color: #212832;
        font-family: Inter;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 8px;
    }
    .maincontent .navigation {
        display: none;

    }
    .menu-ovelay{
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }
    .menu-drawer{
        position: fixed;
        inset: 0 0 0 40%;
        background: #FFF;
        z-index: 3;
        transform: translateX(100%);
        transition: 0.5s ease;
    }
    .menu-drawer ul li a{
        margin: 40px;;
        display: block;
        font-size: 2rem;
        color: var(--Typography-2, #676A6C);
    }
    .menucheckbox:checked ~ .menu-ovelay{
        opacity: 1;
        visibility: visible;
    }
    .menucheckbox:checked ~ .menu-drawer{
        transform: translateX(0);
        
    }
    .navigation{
        display: none;
    }
    .action{
        display: none;
    }
    .bagach{
        margin-top: 18px;
        margin-left: auto;
        margin-right: 20px;
    }
    .header-img{
        width: 189.419px;
        height: 192.007px;
        margin: 10px auto 0;
        display: block;
    }
    .header-title{
        position: relative;
    }
    .main-1{
        width: 335px;
        margin: 0 auto;
    }
    .main-content-leftimg{
        width: 335px;
        border-radius: 10px;
        margin-top: 66px;
    }
    .main-content-right{
        display: none;
    }
    .main-2{
        width: 335px;
        margin: 0 auto;
    }
    .h2lv2{
        color: var(--Color-1, #FF7B29);

        /* B1 */
        font-family: Poppins;
        font-size: 2rre ;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 150% */
        margin-top: 20px;
    }
    .main2-desc{
        color: var(--Typography-2, #676A6C);

        /* P2 */
        font-family: Inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        margin-top: 10px;
    }
    .h2main2{
        color: var(--Color-1, #FF7B29);

        /* B1 */
        font-family: Poppins;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 150% */
        margin-top: 20px;
    }
    .main21{
        width: 335px;
        margin-top: 20px;
    }
    .div{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2,160px);
        grid-template-rows: repeat(2,106px);
        gap: 15px;
    }
    .div img{
        width: 160px;
    }
    .footer-content{
        width: 335px;
        display: grid;
        grid-template-columns:82px 1fr;
        grid-gap: 71px;
        margin:60px auto 0;
    }
    .foot11{
        color: #020000;
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 100% */
    }
    .foot12{
        margin-top: 23px;
    }
    .foot12,.foot13,.foot14,.foot15{
        color: #676A6C;
        font-family: Inter;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 38px; /* 316.667% */
    }
    .foot42{
        color: #676A6C;
        font-family: Inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 185.714% */
        width: 180px;
        margin-top: 22px;
    }
    .foot43{
        color: #31C3E0;
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 100% */
        margin-top: 39px;
    }
    .footend .maincontent{
        width: 335px;
        margin: 0 auto;
    }
    .divdiv{
        display: flex;
        align-items: center;
    }
    .footnav li  a{
        color: #6A6F77;
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 114.286% */
        
    }
    .fotnav{
        color: #2D3134;
        margin-top: 30px;
        display: block;
    }
    .footnav li+li {
        margin-top: 20px;
        display: block;
    }
    .social{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}